html {
	overflow: hidden;
}

html body {
	color: #253449;
	margin: 0;
	background: linear-gradient(180deg, #afcde9 1%, #f7fbe7 100%);
	background-color: #afcde9;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

html.dark body {
	color: #fcfcfc;
	margin: 0;
	background: linear-gradient(180deg, rgba(8, 15, 53, 0), rgba(0, 0, 10, 0.9)),
		linear-gradient(333deg, rgba(153, 207, 255, 0.2), rgba(180, 255, 217, 0.08)),
		radial-gradient(circle at 77% 89%, rgba(125, 163, 169, 0.8), rgba(125, 163, 169, 0) 50%),
		radial-gradient(circle at 15% 95%, rgba(125, 163, 169, 0.8), rgba(125, 163, 169, 0) 43%),
		radial-gradient(circle at 65% 23%, rgba(137, 151, 119, 0.4), rgba(137, 151, 119, 0) 70%),
		radial-gradient(circle at 10% 0%, rgba(187, 211, 204, 0.33), rgba(187, 211, 204, 0) 35%),
		radial-gradient(circle at 11% 100%, rgba(131, 165, 203, 0.3), rgba(131, 165, 203, 0) 30%);
	background-color: rgba(8, 15, 53, 1);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

html aside {
	background-color: rgba(255, 255, 255, 0.6);
}

html.dark aside {
	background-color: rgba(54, 56, 64, 0.4);
}

html .navButton {
	background-color: rgba(255, 255, 255, 0.6);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

html.dark .navButton {
	background-color: rgba(54, 56, 64, 0.4);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

html.dark .navSelect:hover {
	background-color: rgba(255, 255, 255, 0.15) !important;
}

html .navSelect:hover {
	background-color: #33333333 !important;
}

::-webkit-scrollbar {
	display: none !important;
}

.dropdown {
	backdrop-filter: blur(33px);
}

h4 {
	@apply font-medium text-2xl;
}

h5 {
	@apply text-xl;
}

.cardLabel {
	@apply text-blue-gray-500 dark:text-true-gray-400;
}

.cardLoading {
	@apply bg-blue-gray-500 dark:bg-true-gray-400 rounded-md;
}

.cardContent {
	@apply text-gray-800 dark:text-light-100;
}

button {
	@apply focus:outline-none;
}

.minButton {
	@apply inline-flex items-center border-black hover:bg-light-100 dark:border-light-100 hover:dark:(text-orange-300 border-orange-300 bg-transparent) border-1px h-33px py-2 px-5 max-h-40px rounded-md whitespace-nowrap;
}

.colorButton {
	@apply max-w-300px min-w-240px max-h-40px text-center align-middle flex items-center content-center mb-4 py-1 px-4 rounded-md text-light-100 text-xl whitespace-nowrap bg-blue-gray-400 hover:(bg-blue-gray-500 text-dark-200) font-medium dark:(text-dark-200 bg-orange-300) dark:hover:bg-orange-200;
}
